<?xml version="1.0"?>
<launch>
  ###########  launch config  ###########
  <arg name="real_machine" default="False"/>
  <arg name="simulation"   default="True"/>

  ###########  Formation modules  ###########
  <arg name="module_ids" default="2,3,1"
       doc="Comma-separated beetle module IDs, e.g. 2,3 or 2,3,1"/>

  ###########  Load  ###########
  <arg name="load_ns"       default="load"/>
  <arg name="load_id"       default="86"/>
  <arg name="load_x"        default="3"/>
  <arg name="load_y"        default="0"/>
  <arg name="load_z"        default="0"/>
  <arg name="load_yaw"      default="0"/>
  <arg name="load_friction" default="15.0"/>

  <include file="$(find beetle)/launch/aerial_towing_tasks/load_pos.launch">
    <arg name="real_machine"  value="$(arg real_machine)"/>
    <arg name="simulation"    value="$(arg simulation)"/>
    <arg name="robot_ns"      value="$(arg load_ns)"/>
    <arg name="load_id"       value="$(arg load_id)"/>
    <arg name="load_x"        value="$(arg load_x)"/>
    <arg name="load_y"        value="$(arg load_y)"/>
    <arg name="load_z"        value="$(arg load_z)"/>
    <arg name="load_yaw"      value="$(arg load_yaw)"/>
    <arg name="load_friction" value="$(arg load_friction)"/>
  </include>

  ###########  Parameters  ###########
  <arg name="towing_distance" default="0.6"
       doc="Target towing distance (m)"/>
  <arg name="towing_force"    default="5.0"
       doc="Initial towing force (N), ramps adaptively"/>
  <arg name="hook_contact_insert_clearance" default="0.03"
       doc="Hook contact clearance above load top at insertion (m)"/>
  <arg name="towing_pitch_torque_task_weight" default="0.18"
       doc="Unified QP task weight for towing pitch torque compensation"/>
  <arg name="stall_window_time" default="5.0"
       doc="Stall watchdog window duration (s)"/>
  <arg name="stall_timeout_count" default="4"
       doc="Consecutive armed stall windows before abort"/>
  <arg name="stall_min_force_ratio" default="1.0"
       doc="Arm no-breakaway stall detection after this fraction of towing_force"/>
  <arg name="breakaway_relief_min_distance" default="0.05"
       doc="Load travel before breakaway force relief starts (m)"/>
  <arg name="breakaway_force_floor_ratio" default="0.60"
       doc="Temporary floor as a ratio of the force when load motion starts"/>
  <arg name="overspeed_force_relief_time" default="10.0"
       doc="Time constant for velocity-error towing force relief (s)"/>
  <arg name="unload_contact_lead" default="0.03"
       doc="EE lead along towing direction while unloading feedforward (m)"/>
  <arg name="unload_force_rate" default="3.0"
       doc="Feedforward unload rate (N/s); unload duration is current force divided by this"/>
  <arg name="unload_max_duration" default="15.0"
       doc="Maximum feedforward unload duration (s)"/>
  <arg name="debug" default="false"/>

  ###########  Demo  ###########
  <node name="formation_load_towing" pkg="beetle" type="load_towing_formation.py"
        output="screen">
    <param name="module_ids"      value="$(arg module_ids)"/>
    <param name="towing_distance" value="$(arg towing_distance)"/>
    <param name="towing_force"    value="$(arg towing_force)"/>
    <param name="hook_contact_insert_clearance" value="$(arg hook_contact_insert_clearance)"/>
    <param name="towing_pitch_torque_task_weight" value="$(arg towing_pitch_torque_task_weight)"/>
    <param name="stall_window_time" value="$(arg stall_window_time)"/>
    <param name="stall_timeout_count" value="$(arg stall_timeout_count)"/>
    <param name="stall_min_force_ratio" value="$(arg stall_min_force_ratio)"/>
    <param name="breakaway_relief_min_distance" value="$(arg breakaway_relief_min_distance)"/>
    <param name="breakaway_force_floor_ratio" value="$(arg breakaway_force_floor_ratio)"/>
    <param name="overspeed_force_relief_time" value="$(arg overspeed_force_relief_time)"/>
    <param name="unload_contact_lead" value="$(arg unload_contact_lead)"/>
    <param name="unload_force_rate" value="$(arg unload_force_rate)"/>
    <param name="unload_max_duration" value="$(arg unload_max_duration)"/>
    <param name="simulation"      value="$(arg simulation)"/>
    <param name="real_machine"    value="$(arg real_machine)"/>
    <param name="debug"           value="$(arg debug)"/>
  </node>
</launch>
