<?xml version="1.0"?>
<launch>
  ###########  launch config  ###########
  <arg name="real_machine" default="False"/>
  <arg name="simulation"   default="True"/>

  ###########  Formation modules  ###########
  <arg name="module_ids" default="2,3,1"
       doc="Comma-separated beetle module IDs, e.g. 2,3 or 2,3,1"/>

  ###########  Load  ###########
  <arg name="load_ns"       default="load"/>
  <arg name="load_id"       default="86"/>
  <arg name="load_x"        default="3"/>
  <arg name="load_y"        default="0"/>
  <arg name="load_z"        default="0"/>
  <arg name="load_yaw"      default="0"/>
  <arg name="load_friction" default="15.0"/>

  <include file="$(find beetle)/launch/aerial_towing_tasks/load_pos.launch">
    <arg name="real_machine"  value="$(arg real_machine)"/>
    <arg name="simulation"    value="$(arg simulation)"/>
    <arg name="robot_ns"      value="$(arg load_ns)"/>
    <arg name="load_id"       value="$(arg load_id)"/>
    <arg name="load_x"        value="$(arg load_x)"/>
    <arg name="load_y"        value="$(arg load_y)"/>
    <arg name="load_z"        value="$(arg load_z)"/>
    <arg name="load_yaw"      value="$(arg load_yaw)"/>
    <arg name="load_friction" value="$(arg load_friction)"/>
  </include>

  ###########  Parameters  ###########
  <arg name="towing_distance" default="0.6"
       doc="Target towing distance (m)"/>
  <arg name="towing_force"    default="5.0"
       doc="Initial towing force (N), ramps adaptively"/>
  <arg name="debug" default="false"/>

  ###########  Demo  ###########
  <node name="formation_load_towing" pkg="beetle" type="load_towing_formation.py"
        output="screen">
    <param name="module_ids"      value="$(arg module_ids)"/>
    <param name="towing_distance" value="$(arg towing_distance)"/>
    <param name="towing_force"    value="$(arg towing_force)"/>
    <param name="simulation"      value="$(arg simulation)"/>
    <param name="real_machine"    value="$(arg real_machine)"/>
    <param name="debug"           value="$(arg debug)"/>
  </node>
</launch>
