<?xml version="1.0"?>
<launch>
  <arg name="real_machine" default="true" />
  <arg name="simulation" default="false" />
  <arg name="robot_ns" default="wall" />
  <arg name="wall_id" default="55" />
  <arg name="robot_id" default="55" />
  <arg name="use_wall_mocap" default="false" />

  <arg name="wall_x" default="1.5" />
  <arg name="wall_y" default="0" />
  <arg name="wall_z" default="0" />
  <arg name="wall_yaw" default="0" />
  <arg name="wall_thickness" default="0.1" />
  <arg name="wall_width" default="2.0" />
  <arg name="wall_height" default="2.0" />
  <arg name="wall_static" default="true"
       doc="true = wall anchored to world (static force test); false = wall slides along push X (dynamic push)" />
  <arg name="wall_slide_damping" default="50.0" />

  <group ns="$(arg robot_ns)">
    <group if="$(arg real_machine)">
      <group unless="$(arg simulation)">
        <group if="$(arg use_wall_mocap)">
          <include file="$(find aerial_robot_base)/launch/external_module/mocap.launch">
            <arg name="robot_id" value="$(arg robot_id)" />
          </include>
        </group>
      </group>
    </group>
    <group if="$(arg simulation)">
      <group unless="$(arg real_machine)">
        <param name="robot_description"
          command="$(find xacro)/xacro $(find beetle)/urdf/wall.urdf wall_thickness:=$(arg wall_thickness) wall_width:=$(arg wall_width) wall_height:=$(arg wall_height) wall_static:=$(arg wall_static) wall_slide_damping:=$(arg wall_slide_damping)" />
        <node pkg="gazebo_ros" type="spawn_model" name="spawn_wall" respawn="false" output="screen"
          args="-urdf -model wall -x $(arg wall_x) -y $(arg wall_y) -z $(arg wall_z) -Y $(arg wall_yaw) -param robot_description" />
      </group>
    </group>
  </group>
</launch>
