<?xml version="1.0"?>
<launch>
  <!-- Environment settings -->
  <arg name="real_machine" default="false"/>
  <arg name="simulation" default="true"/>
  
  <!-- Formation parameters -->
  <arg name="module_ids" default="1,2" />
  <arg name="rotation_angle" default="1.571" /> <!-- 90 degrees in radians -->
  <arg name="approach_height" default="0.5" />
  
  <!-- Valve parameters -->
  <arg name="valve_ns" default="valve"/>
  <arg name="valve_id" default="85"/>
  <arg name="valve_x" default="3"/>
  <arg name="valve_y" default="0"/>
  <arg name="valve_z" default="0"/>
  <arg name="valve_yaw" default="0"/>
  
  <!-- Debug mode -->
  <arg name="debug" default="false" />
  
  <!-- Include valve position setup -->
  <include file="$(find beetle)/launch/valve_rotation_tasks/valve_pos.launch">
    <arg name="real_machine" value="$(arg real_machine)" />
    <arg name="simulation" value="$(arg simulation)" />
    <arg name="robot_ns" value="$(arg valve_ns)" />
    <arg name="robot_id" value="$(arg valve_id)"/>
    <arg name="valve_x" value="$(arg valve_x)" />
    <arg name="valve_y" value="$(arg valve_y)" />
    <arg name="valve_z" value="$(arg valve_z)" />
    <arg name="valve_yaw" value="$(arg valve_yaw)" />
  </include>
  
  <!-- Controller parameters for formation valve rotation -->
  <param name="controller/unified_control_mode" value="false" />
  <param name="controller/valve_rotation_feedforward/enabled" value="false" />
  <param name="controller/valve_rotation_feedforward/force_z" value="-5.0" />
  <param name="controller/valve_rotation_feedforward/torque_z" value="3.0" />
  
  <!-- Formation valve rotation node -->
  <node name="formation_valve_rotation" pkg="beetle" type="valve_rotation_formation.py"
        output="screen">
    <param name="module_ids" value="$(arg module_ids)" />
    <param name="rotation_angle" value="$(arg rotation_angle)" />
    <param name="approach_height" value="$(arg approach_height)" />
    <param name="simulation" value="$(arg simulation)" />
    <param name="real_machine" value="$(arg real_machine)" />
    <param name="debug" value="$(arg debug)" />
  </node>
  
  <!-- Launch SMACH viewer for state machine visualization if debug enabled -->
  <node name="smach_viewer" 
        pkg="smach_viewer" 
        type="smach_viewer.py" 
        output="screen"
        if="$(arg debug)" />
        
</launch>
