<?xml version="1.0"?>
<launch>
  ###########  launch config  ###########
  <arg name="real_machine" default="False"/>
  <arg name="simulation"   default="True"/>

  ###########  Formation modules  ###########
  <arg name="module_ids" default="1,2"
       doc="Comma-separated beetle module IDs, e.g. 2,3 or 2,3,1"/>

  ###########  Valve  ###########
  <arg name="valve_ns"  default="valve"/>
  <arg name="valve_id"  default="85"/>
  <arg name="valve_x"   default="3"/>
  <arg name="valve_y"   default="0"/>
  <arg name="valve_z"   default="0"/>
  <arg name="valve_yaw" default="0"/>

  <include file="$(find beetle)/launch/valve_rotation_tasks/valve_pos.launch">
    <arg name="real_machine" value="$(arg real_machine)"/>
    <arg name="simulation"   value="$(arg simulation)"/>
    <arg name="robot_ns"     value="$(arg valve_ns)"/>
    <arg name="robot_id"     value="$(arg valve_id)"/>
    <arg name="valve_x"      value="$(arg valve_x)"/>
    <arg name="valve_y"      value="$(arg valve_y)"/>
    <arg name="valve_z"      value="$(arg valve_z)"/>
    <arg name="valve_yaw"    value="$(arg valve_yaw)"/>
  </include>

  ###########  Parameters  ###########
  <arg name="rotation_angle_deg" default="90"
       doc="Total rotation target in degrees"/>
  <arg name="valve_rotation_direction" default="cw"
       doc="Valve rotation direction: cw/ccw"/>
  <arg name="approach_height" default="0.48"
       doc="Valve approach height (m), adjusted for EE offset"/>
  <arg name="debug" default="false"/>

  <param name="controller/valve_rotation_feedforward/enabled"  value="true"/>
  <param name="controller/valve_rotation_feedforward/force_z"  value="-5.0"/>
  <param name="controller/valve_rotation_feedforward/torque_z" value="3.0"/>
  <param name="controller/valve_rotation_feedforward/contact_init_torque" value="0.1"/>
  <param name="controller/valve_rotation_feedforward/contact_torque_ramp" value="0.1"/>
  <param name="controller/valve_rotation_feedforward/torque_adjust_roll_k" value="0.01"/>
  <param name="controller/valve_rotation_feedforward/torque_adjust_yaw_k" value="1.0"/>
  <param name="controller/valve_rotation_feedforward/roll_moment_thresh" value="0.2"/>
  <param name="controller/valve_rotation_feedforward/yaw_velocity_thresh" value="0.05"/>

  ###########  Demo  ###########
  <node name="formation_valve_rotation" pkg="beetle" type="valve_rotation_formation_clean.py"
        output="screen">
    <param name="module_ids"      value="$(arg module_ids)"/>
     <param name="rotation_angle_deg" value="$(arg rotation_angle_deg)"/>
    <param name="valve_rotation_direction" value="$(arg valve_rotation_direction)"/>
    <param name="approach_height" value="$(arg approach_height)"/>
    <param name="simulation"      value="$(arg simulation)"/>
    <param name="real_machine"    value="$(arg real_machine)"/>
    <param name="debug"           value="$(arg debug)"/>
  </node>
</launch>
