<?xml version="1.0"?>
<launch>
  <!-- Dual UAV Formation Valve Rotation Launch File -->
  <arg name="simulation" default="true" />
  <arg name="real_machine" default="false" />
  <arg name="verbose" default="false" />
  
  <param name="simulation" value="$(arg simulation)" />
  <param name="real_machine" value="$(arg real_machine)" />
  
  <rosparam file="$(find beetle)/config/UnifiedControlConfig.yaml" command="load" />
  
  <param name="controller/unified_control_mode" value="false" />  
  
  <param name="controller/valve_rotation_feedforward/enabled" value="false" />
  <param name="controller/valve_rotation_feedforward/force_x" value="0.0" />
  <param name="controller/valve_rotation_feedforward/force_y" value="0.0" />
  <param name="controller/valve_rotation_feedforward/force_z" value="-8.0" />
  <param name="controller/valve_rotation_feedforward/torque_x" value="0.0" />
  <param name="controller/valve_rotation_feedforward/torque_y" value="0.0" />
  <param name="controller/valve_rotation_feedforward/torque_z" value="4.0" />
  
  <param name="controller/formation_geometry/module_spacing" value="0.4" />
  <param name="controller/formation_geometry/rotor_arm_length" value="0.25" />
  
  <param name="controller/unified_control_advanced/dynamic_tilt_optimization" value="true" />
  <param name="controller/unified_control_advanced/max_rotor_tilt_angle" value="0.3" />
  <param name="controller/unified_control_advanced/attitude_stability_weight" value="8.0" />
  <param name="controller/unified_control_advanced/torque_optimization_weight" value="3.0" />
  
  <!-- Launch the formation valve rotation state machine -->
  <node name="formation_valve_rotation_smach" 
        pkg="beetle" 
        type="valve_rotation_formation.py" 
        output="screen"
        required="true">
    <param name="simulation" value="$(arg simulation)" />
    <param name="real_machine" value="$(arg real_machine)" />
  </node>
  
  <!-- Launch SMACH viewer for state machine visualization -->
  <node name="smach_viewer" 
        pkg="smach_viewer" 
        type="smach_viewer.py" 
        output="screen"
        if="$(arg verbose)" />

</launch>
