<launch>
  <!-- External configurable arguments -->
  <arg name="module_ids" default="1,2,3" />
  <arg name="dx" default="1.0" />
  <arg name="spawn_y" default="0.0" />
  <arg name="spawn_yaw" default="0.0" />
  <arg name="center_formation" default="true" />
  <arg name="base_x" default="0.0" />
  <arg name="headless" default="true" />
  <arg name="launch_gazebo_for_first" default="true" />
  
  <!-- for 1st Beetle (leftmost) -->
  <group if="$(eval len(arg('module_ids').split(',')) > 0)">
    <include file="$(find beetle)/launch/bringup.launch">
      <arg name="robot_id"      value="$(eval arg('module_ids').split(',')[0])"/>
      <arg name="real_machine"  value="false"/>
      <arg name="simulation"    value="true"/>
      <arg name="headless"      value="$(arg headless)"/>
      <arg name="launch_gazebo" value="$(arg launch_gazebo_for_first)"/>
      <arg name="estimate_mode" value="1"/>
      <arg name="spawn_x"       value="$(eval ( (0 - (len(arg('module_ids').split(','))-1)/2.0) * float(arg('dx')) ) if str(arg('center_formation')).lower()=='true' else ( float(arg('base_x')) - (len(arg('module_ids').split(','))-1-0)*float(arg('dx')) ))"/>
      <arg name="spawn_y"       value="$(arg spawn_y)"/>
      <arg name="spawn_yaw"     value="$(arg spawn_yaw)"/>
      <arg name="leader_fang"   value="$(eval len(arg('module_ids').split(',')) == 1)"/>
    </include>
  </group>

  <!-- for 2nd Beetle (middle) -->
  <group if="$(eval len(arg('module_ids').split(',')) > 1)">
    <include file="$(find beetle)/launch/bringup.launch">
      <arg name="robot_id"      value="$(eval arg('module_ids').split(',')[1])"/>
      <arg name="real_machine"  value="false"/>
      <arg name="simulation"    value="true"/>
      <arg name="headless"      value="$(arg headless)"/>
      <arg name="launch_gazebo" value="false"/>
      <arg name="estimate_mode" value="1"/>
      <arg name="spawn_x"       value="$(eval ( (1 - (len(arg('module_ids').split(','))-1)/2.0) * float(arg('dx')) ) if str(arg('center_formation')).lower()=='true' else ( float(arg('base_x')) - (len(arg('module_ids').split(','))-1-1)*float(arg('dx')) ))"/>
      <arg name="spawn_y"       value="$(arg spawn_y)"/>
      <arg name="spawn_yaw"     value="$(arg spawn_yaw)"/>
      <arg name="leader_fang"   value="$(eval len(arg('module_ids').split(',')) == 2)"/>
    </include>
  </group>

  <!-- for 3rd Beetle (rightmost) -->
  <group if="$(eval len(arg('module_ids').split(',')) > 2)">
    <include file="$(find beetle)/launch/bringup.launch">
      <arg name="robot_id"      value="$(eval arg('module_ids').split(',')[2])"/>
      <arg name="real_machine"  value="false"/>
      <arg name="simulation"    value="true"/>
      <arg name="headless"      value="$(arg headless)"/>
      <arg name="launch_gazebo" value="false"/>
      <arg name="estimate_mode" value="1"/>
      <arg name="spawn_x"       value="$(eval ( (2 - (len(arg('module_ids').split(','))-1)/2.0) * float(arg('dx')) ) if str(arg('center_formation')).lower()=='true' else ( float(arg('base_x')) - (len(arg('module_ids').split(','))-1-2)*float(arg('dx')) ))"/>
      <arg name="spawn_y"       value="$(arg spawn_y)"/>
      <arg name="spawn_yaw"     value="$(arg spawn_yaw)"/>
      <arg name="leader_fang"   value="$(eval len(arg('module_ids').split(',')) == 3)"/>
    </include>
  </group>

  <!-- for 4th Beetle -->
  <group if="$(eval len(arg('module_ids').split(',')) > 3)">
    <include file="$(find beetle)/launch/bringup.launch">
      <arg name="robot_id"      value="$(eval arg('module_ids').split(',')[3])"/>
      <arg name="real_machine"  value="false"/>
      <arg name="simulation"    value="true"/>
      <arg name="headless"      value="$(arg headless)"/>
      <arg name="launch_gazebo" value="false"/>
      <arg name="estimate_mode" value="1"/>
      <arg name="spawn_x"       value="$(eval ( (3 - (len(arg('module_ids').split(','))-1)/2.0) * float(arg('dx')) ) if str(arg('center_formation')).lower()=='true' else ( float(arg('base_x')) - (len(arg('module_ids').split(','))-1-3)*float(arg('dx')) ))"/>
      <arg name="spawn_y"       value="$(arg spawn_y)"/>
      <arg name="spawn_yaw"     value="$(arg spawn_yaw)"/>
      <arg name="leader_fang"   value="$(eval len(arg('module_ids').split(',')) == 4)"/>
    </include>
  </group>

  <!-- for 5th Beetle -->
  <group if="$(eval len(arg('module_ids').split(',')) > 4)">
    <include file="$(find beetle)/launch/bringup.launch">
      <arg name="robot_id"      value="$(eval arg('module_ids').split(',')[4])"/>
      <arg name="real_machine"  value="false"/>
      <arg name="simulation"    value="true"/>
      <arg name="headless"      value="$(arg headless)"/>
      <arg name="launch_gazebo" value="false"/>
      <arg name="estimate_mode" value="1"/>
      <arg name="spawn_x"       value="$(eval ( (4 - (len(arg('module_ids').split(','))-1)/2.0) * float(arg('dx')) ) if str(arg('center_formation')).lower()=='true' else ( float(arg('base_x')) - (len(arg('module_ids').split(','))-1-4)*float(arg('dx')) ))"/>
      <arg name="spawn_y"       value="$(arg spawn_y)"/>
      <arg name="spawn_yaw"     value="$(arg spawn_yaw)"/>
      <arg name="leader_fang"   value="$(eval len(arg('module_ids').split(',')) == 5)"/>
    </include>
  </group>

  <!-- for 6th Beetle -->
  <group if="$(eval len(arg('module_ids').split(',')) > 5)">
    <include file="$(find beetle)/launch/bringup.launch">
      <arg name="robot_id"      value="$(eval arg('module_ids').split(',')[5])"/>
      <arg name="real_machine"  value="false"/>
      <arg name="simulation"    value="true"/>
      <arg name="headless"      value="$(arg headless)"/>
      <arg name="launch_gazebo" value="false"/>
      <arg name="estimate_mode" value="1"/>
      <arg name="spawn_x"       value="$(eval ( (5 - (len(arg('module_ids').split(','))-1)/2.0) * float(arg('dx')) ) if str(arg('center_formation')).lower()=='true' else ( float(arg('base_x')) - (len(arg('module_ids').split(','))-1-5)*float(arg('dx')) ))"/>
      <arg name="spawn_y"       value="$(arg spawn_y)"/>
      <arg name="spawn_yaw"     value="$(arg spawn_yaw)"/>
      <arg name="leader_fang"   value="$(eval len(arg('module_ids').split(',')) == 6)"/>
    </include>
  </group>

  <!-- for 7th Beetle -->
  <group if="$(eval len(arg('module_ids').split(',')) > 6)">
    <include file="$(find beetle)/launch/bringup.launch">
      <arg name="robot_id"      value="$(eval arg('module_ids').split(',')[6])"/>
      <arg name="real_machine"  value="false"/>
      <arg name="simulation"    value="true"/>
      <arg name="headless"      value="$(arg headless)"/>
      <arg name="launch_gazebo" value="false"/>
      <arg name="estimate_mode" value="1"/>
      <arg name="spawn_x"       value="$(eval ( (6 - (len(arg('module_ids').split(','))-1)/2.0) * float(arg('dx')) ) if str(arg('center_formation')).lower()=='true' else ( float(arg('base_x')) - (len(arg('module_ids').split(','))-1-6)*float(arg('dx')) ))"/>
      <arg name="spawn_y"       value="$(arg spawn_y)"/>
      <arg name="spawn_yaw"     value="$(arg spawn_yaw)"/>
      <arg name="leader_fang"   value="$(eval len(arg('module_ids').split(',')) == 7)"/>
    </include>
  </group>

  <!-- for 8th Beetle -->
  <group if="$(eval len(arg('module_ids').split(',')) > 7)">
    <include file="$(find beetle)/launch/bringup.launch">
      <arg name="robot_id"      value="$(eval arg('module_ids').split(',')[7])"/>
      <arg name="real_machine"  value="false"/>
      <arg name="simulation"    value="true"/>
      <arg name="headless"      value="$(arg headless)"/>
      <arg name="launch_gazebo" value="false"/>
      <arg name="estimate_mode" value="1"/>
      <arg name="spawn_x"       value="$(eval ( (7 - (len(arg('module_ids').split(','))-1)/2.0) * float(arg('dx')) ) if str(arg('center_formation')).lower()=='true' else ( float(arg('base_x')) - (len(arg('module_ids').split(','))-1-7)*float(arg('dx')) ))"/>
      <arg name="spawn_y"       value="$(arg spawn_y)"/>
      <arg name="spawn_yaw"     value="$(arg spawn_yaw)"/>
      <arg name="leader_fang"   value="$(eval len(arg('module_ids').split(',')) == 8)"/>
    </include>
  </group>

<!-- just copy more Beetle as needed -->
</launch>