<launch>
  <!-- External configurable arguments -->
  <arg name="module_ids" default="1,2,3" />
  <arg name="dx" default="0.6" />
  <arg name="spawn_y" default="0.0" />
  <arg name="spawn_yaw" default="0.0" />
  <arg name="center_formation" default="true" />
  <arg name="base_x" default="0.0" />
  <arg name="headless" default="true" />
  <arg name="launch_gazebo_for_first" default="true" />

  <rosparam command="load" file="$(find beetle)/config/swarm.yaml"/>
  
  <!-- for 1st Beetle -->
  <group if="$(eval len(arg('module_ids').split(',')) > 0)">
    <include file="$(find beetle)/launch/bringup.launch">
      <arg name="robot_id"      value="$(eval arg('module_ids').split(',')[0])"/>
      <arg name="real_machine"  value="false"/>
      <arg name="simulation"    value="true"/>
      <arg name="headless"      value="$(arg headless)"/>
      <arg name="launch_gazebo" value="$(arg launch_gazebo_for_first)"/>
      <arg name="estimate_mode" value="1"/>
      <arg name="spawn_x"       value="$(eval ( ((len(arg('module_ids').split(','))-1)/2.0 - 0) * float(arg('dx')) ) if str(arg('center_formation')).lower()=='true' else ( float(arg('base_x')) - 0*float(arg('dx')) ))"/>
      <arg name="spawn_y"       value="$(arg spawn_y)"/>
      <arg name="spawn_yaw"     value="$(arg spawn_yaw)"/>
      <arg name="leader_fang"   value="true"/>
    </include>
  </group>

  <!-- for 2nd Beetle -->
  <group if="$(eval len(arg('module_ids').split(',')) > 1)">
    <include file="$(find beetle)/launch/bringup.launch">
      <arg name="robot_id"      value="$(eval arg('module_ids').split(',')[1])"/>
      <arg name="real_machine"  value="false"/>
      <arg name="simulation"    value="true"/>
      <arg name="headless"      value="$(arg headless)"/>
      <arg name="launch_gazebo" value="false"/>
      <arg name="estimate_mode" value="1"/>
      <arg name="spawn_x"       value="$(eval ( ((len(arg('module_ids').split(','))-1)/2.0 - 1) * float(arg('dx')) ) if str(arg('center_formation')).lower()=='true' else ( float(arg('base_x')) - 1*float(arg('dx')) ))"/>
      <arg name="spawn_y"       value="$(arg spawn_y)"/>
      <arg name="spawn_yaw"     value="$(arg spawn_yaw)"/>
      <arg name="leader_fang"   value="false"/>
    </include>
  </group>

  <!-- for 3rd Beetle -->
  <group if="$(eval len(arg('module_ids').split(',')) > 2)">
    <include file="$(find beetle)/launch/bringup.launch">
      <arg name="robot_id"      value="$(eval arg('module_ids').split(',')[2])"/>
      <arg name="real_machine"  value="false"/>
      <arg name="simulation"    value="true"/>
      <arg name="headless"      value="$(arg headless)"/>
      <arg name="launch_gazebo" value="false"/>
      <arg name="estimate_mode" value="1"/>
      <arg name="spawn_x"       value="$(eval ( ((len(arg('module_ids').split(','))-1)/2.0 - 2) * float(arg('dx')) ) if str(arg('center_formation')).lower()=='true' else ( float(arg('base_x')) - 2*float(arg('dx')) ))"/>
      <arg name="spawn_y"       value="$(arg spawn_y)"/>
      <arg name="spawn_yaw"     value="$(arg spawn_yaw)"/>
      <arg name="leader_fang"   value="false"/>
    </include>
  </group>

<!-- just copy __x3/__x4/__x5 groups as needed -->
</launch>